* {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0px;
}
/* START OF NAVBAAR */
.water-nav {
    background: linear-gradient(180deg, #3202e0, 5%, #0877cc, 50%, #75769e);
}
.logo {
    width: 5%;
}
/* START OF OFFCANVAS */

.offcanvas-start {
    background: linear-gradient(180deg, #3202e0, 5%, #0877cc, 50%, #75769e);
}

.off-logo {
    width: 20%;
}
.aside {
    max-width: 300px;

    padding: 0px;
    margin: 0px;
    transition: 0.3s ease-in-out;
}

.accordion-header {
    text-align: justify;
    
}

.accordion-item {
    background-color: aliceblue;
    color: white;
    margin-top: 10px;
    border: none;
}

.accordion-button {
    background-image: linear-gradient(180deg, #9b8c92, 5%, #f1c5f7, 50%, #b1fff2);
    color: rgb(2, 35, 36);
    border: 2px solid rgb(32, 26, 26);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 10px;
    font-family: bulletproof;
    text-shadow: 2px 2px 4px #5f5d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion {
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.7s ease-in-out;
}

.fa {
    font-size: 30px !important;
}

.accordion-button::after {
    margin-left: 10px;
    border-radius: 50px;
}

.accordion-button:focus {
    z-index: none;
    border-color: none;
    outline: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: aliceblue;
    color: black
}

.nav-link {
    display: none;
}

.list {
    text-align: center;
    color: red;
    font-weight: bold;
    list-style-type: none;
}

.profile-main-body {
    max-width: 800px;
}

.fa-img {
    color: black;
}
/* END OF OFFCANVAS */
/* END OF NAVBAAR */
/* START OF HEADER */
.header {
    height: 85vh;
    width: 100%;
    background: linear-gradient(180deg, #805ff7, 5%, #19425f, 50%, #030423);
    position: relative;
}

.header div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
    animation: 4s linear infinite;
}

div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

.header div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.header div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.header div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.header div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.header div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
    background-color: rgb(100, 100, 153);
}

.header div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
    background-color: rgb(100, 100, 153);
}

.header div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.header div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.header div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}
/* END OF HEADER */

/* START OF SCROLLBAAR */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #e98dc5, 5%, #eca5d1, 50%, #9e7594);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: blueviolet;
}
/* END OF SCROLLBAAR */
/* START OF WATER-IMPURITIES */

.water-impurities{
    background-color: aliceblue;
}
.w-i-para{
    line-height: 33px;
    font-weight: bold;
}
.drink-img{
    display: block;
    margin: 0 auto;
}
.w-i-para-2{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-style: italic;
    line-height: 33px;
    border-left: 5px solid red;
}
.s-w-approach{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-style: italic;
    line-height: 33px;
    border-left: 5px solid blue;
}
/* END OF WATER-IMPURITIES */
/* START OF WATER-PURIFICATION */
.water-purification-method{
    background-image: url(/images/bg-one.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.colone{
    background-image: linear-gradient( #5ddcff, #3c67e3 43%, #4e00c2);
}
.coltwo{
    background-image: linear-gradient( #5ddcff, #3c67e3 43%, #4e00c2);
}
.colthree{
    background-image: linear-gradient( #5ddcff, #3c67e3 43%, #4e00c2);
}

/* END OF WATER-PURIFICATION */
/* START OF CARD-DECKS */
.card-body{
    background: linear-gradient(180deg, #3202e0, 5%, #0877cc, 50%, #75769e);
    
}
/* END OF CARD-DECKS */
/* START OF FOOTER */
.footer{
   
}
.list-one{
    list-style-type: none;
    line-height: 40px;
    color: white;
    font-weight: bold;
}
.list-two{
    list-style-type: none;
    line-height: 40px;
    color: white;
    font-weight: bold;
}
/* END OF FOOTER */

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 768px){
    .logo{
        width: 10%;
    }
    /* WATER-IMPURITIES */
    .drink-img{
        width: 100% !important;
    }
    .s-w-approach{
        width: 100%;
    }
    .w-i-para-2{
        width: 100%;
    }
    /* WATER-PURIFICATION */
    .rowone{
        display: block !important;
    }
    .colone{
        margin-top: 30px;
    }
    .coltwo{
        margin-top: 30px;
    }
    .colthree{
        margin-top: 30px;
    }
    /* CARD DECKS */
    .card-deck{
        display: block !important;
    }
    .card{
        margin-top: 30px !important;
    }
    /* FOOTER */
    .footer-row {
        display: block !important;
    }
    .footer-left-col{
        width: 100% !important;
    }
    .footer-right-col{
        width: 100% !important;
        margin-top: 40px;
    }
    .footer-btn{
        width: 100% !important;
    }
    .form-check{
        width: 50% !important;
    margin-top: 20px;
    padding-left: 0px;
    }
    
}
@media only screen and (max-width: 425px){
    .footer-left-col{
        display: block !important;
    }
    .logo{
        width: 15%;
    }
}
