*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    padding: 0px;
}
.header{
    background-image: url(/images/bg-header-one.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    padding: 0px;
    padding: 0px 0px 50px 0px;
}
.header-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
.button-side{
    padding: 250px 0px;
}
.header-body{
    width: 80%;
    padding: 0px;
}
.navbar>.container-fluid{
    padding: 0px;
}
.nav-two{
    border-top: 1px solid black;
}
.nav-two-main-list > li{
    padding: 0px 10px;
    font-weight: 500;
    transition: 0.1s;
}
.nav-two-main-list-link{
    color: white !important;
}
.nav-two-main-list > li:hover{
    border-top: 2px solid red;  
}
.application-side{
    width: 100%;
}
.app-col-one{
    width: 33%;
}
.app-col-two{
    width: 33%;
}
.app-col-three{
    width: 33%;
}
.product-side{
    width: 100%;
}
.product-left-col{
    width: 50%;
}
.coli-para{
    line-height: 40px;
}
.product-right-col{
    width: 50%;
}
.add-on-module-side{
    width: 100%;
}
.add-on-module-left-side{
    width: 50%;
}
.add-on-module-right-side{
    width: 50%;
}
.autosampler-side{
    width: 100%;
}
.autosampler-left-side{
    width: 50%;
}
.autosampler-right-side{
    width: 50%;
}
.reallife-example-side{
    width: 100%;
    background-image: url(/images/real.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0px !important;
}
.about-us-side{
    width: 100%;
}
.about-us-left-col{
    width: 50%;
}
.about-us-right-col{
    width: 50%;
}
.footer{
    width: 100%;
    background-image: url(/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.footer > h3 {
    color: white;
    padding: 90px 30px 70px 30px;
}
.footer-left-col{
    width: 100%;
}

.left-col-row-one > h4 {
    color: white;
}

/* RESPONSIVE MEDIA-QUERY */
@media only screen and (max-width: 1024px){
    .product-row{
        display: block !important;
    }
    .product-left-col{
        width: 100%;
    }
    .product-right-col{
        width: 100%;
    }
    .add-on-module-row{
        display: block !important;
    }
    .add-on-module-left-side{
        width: 100%;
    }
    .add-on-module-right-side{
        width: 100%;
    }
    .autosampler-row{
        display: block !important;
    }
    .autosampler-left-side{
        width: 100%;
    }
    .autosampler-right-side{
        width: 100%;
    }
    .about-us-row{
        display: block !important;
    }
    .about-us-left-col{
        width: 100%;
    }
    .about-us-right-col{
        width: 100%;
    }
    .coli-para{
        line-height: 30px;
    }
}
@media only screen and (max-width: 768px){
    .app-row {
        display: block !important;
    }
    .app-col-one{
        width: 100%;
    }
    .app-col-two{
        width: 100%;
    }
    .app-col-three{
        width: 100%;
    }
    .footer-logo{
        width: 20%;
    }
}